/* Color variables */

:root {
  --color-ui-background: theme('colors.white');
  --color-ui-background-tertiary: #F4F3F3;
  --color-ui-typo: #210700;
  --color-ui-typo-light: #4D3933;
  --color-ui-typo-lighter: #7a6a66;
  --color-ui-sidebar: theme('colors.gray.200');
  --color-ui-border: #d3cdcc;
  --color-ui-primary: #dd2c00;
  --color-ui-primary-dark: #ad2200;
  --color-ui-primary-light: #f7cdcd;
  --color-ui-secondary-10: rgba(244, 243, 243, 0.2);
  --color-ui-secondary-25: rgba(244, 243, 243, 0.5);
  --color-ui-secondary-50: #e9e6e6;
  --color-ui-secondary-100: #d3cdcc;
  --color-ui-secondary-200: #bcb5b3;
  --color-ui-secondary-300: #a69c99;
  --color-ui-secondary-400: #908380;
  --color-ui-secondary-500: #7a6a66;
  --color-ui-secondary-600: #64514d;
  --color-ui-secondary-700: #4d3933;
  --color-ui-secondary-800: #37201a;
  --color-ui-secondary-900: #210700;
}

.app {
  @apply flex flex-col justify-start min-h-screen;
}

main {
  @apply relative flex flex-wrap justify-start flex-1 w-full bg-ui-background;
}

p,
ol,
ul,
pre,
strong,
blockquote {
  @apply mb-4 text-ui-typo-light;
}

ol {
  list-style-type: decimal;
  @apply pl-4 text-ui-typo-light;
}

blockquote {
  @apply rounded-sm p-4 bg-yellow-50 mb-4 border-l-4 border-yellow-400;
  p {
    @apply mb-0;
  }
  & > h4 {
    @apply text-yellow-500 font-semibold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1,
h2 {
  @apply font-serif;
}

h1,
h2,
h3,
h4 {
  @apply leading-snug mb-4 text-ui-typo;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h1.page-head {
  @apply text-4xl text-center lg:text-5xl lg:leading-normal;
}

h2.page-head {
  @apply text-3xl text-center lg:text-4xl lg:leading-normal;
}

.page-subhead {
  @apply text-xl text-center text-ui-typo-lighter;
}

.sub-heading {
  @apply text-3xl text-center lg:text-4xl;
}

.lead {
  @apply text-lg text-center;
}

.nav-link {
  @apply px-1 md:px-2 md:py-1 rounded-md text-ui-typo font-medium font-sans;
}

.nav-link:hover {
  @apply bg-ui-backgroundTertiary;
}

.nav-link.nuxt-link-exact-active {
  @apply text-ui-primary border-ui-primary;
}

.primary-btn {
  @apply items-center justify-center tracking-wide text-white transition duration-200 bg-ui-primary rounded shadow-md;
}

.outline-btn {
  @apply items-center justify-center tracking-wide text-ui-primary transition duration-200 border-ui-primary bg-white border rounded font-semibold hover:bg-ui-secondary-25;
}

.primary-btn:hover {
  @apply bg-ui-primary-dark shadow-md;
}

.primary-btn:focus {
  @apply outline-none;
}

.secondary-btn {
  @apply items-center justify-center tracking-wide text-white transition duration-200 bg-ui-secondary-700 rounded shadow-md;
}

.secondary-btn:hover {
  @apply bg-ui-secondary-800 shadow-md;
}

.secondary-btn:focus {
  @apply outline-none;
}

.mdi > svg {
  display: inline;
  vertical-align: borrom;
}

.card {
  @apply border border-ui-border rounded;
}

table {
  @apply w-full table-fixed;
}

th {
  @apply text-left font-semibold;
}

th,
td {
  @apply py-4;
}

tr {
  @apply border-b border-ui-border pb-4;
}
